.change-theme {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  /* font-size: calc(1px + (80 - 64) * (100vw - 320px) / (960 - 320)); */
  font-size: 1rem;
}

.change-theme__input {
  background: linear-gradient(145deg, var(--base1), var(--base2));
  border-radius: 0.75em;
  box-shadow: inset 6px 6px 16px var(--base2), inset -6px -6px 16px var(--base1);
  color: #fdea7b;
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  font-size: 1em;
  line-height: 1;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.change-theme__input:before,
.change-theme__input:after {
  content: '';
  display: block;
}

.change-theme__input:before {
  background-color: #d7d7d7;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}

.change-theme__input:after {
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50% / 50% 100%,
    repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%) 0 50% / 50% 100%,
    radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #d8d8d8;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
}

/* Checked */
.change-theme__input:checked {
  background: linear-gradient(145deg, var(--base1), var(--base2));
  box-shadow: inset 6px 6px 16px var(--base2), inset -6px -6px 16px var(--base1);
}

.change-theme__input:checked:before {
  background-color: currentColor;
  transform: translateX(125%);
}

.change-theme__input:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}

.change-theme__input:focus {
  outline: 0;
}

/* button */
.el-button {
  border: initial;
  border-radius: 15px;
  background: linear-gradient(145deg, var(--base1), var(--base2));
  box-shadow: 4px 4px 16px var(--base2), -4px -4px 16px var(--base3);
  display: inline-block;
  padding: 8px 20px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--primary-text);
  transition: all 0.2s ease;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.el-button + .el-button {
  margin-left: 1rem;
}

.el-button:active {
  box-shadow: inset 8px 8px 16px var(--base2), inset -8px -8px 16px var(--base1);
}

@media not all and (pointer: coarse) {
  .el-button:hover {
    background: linear-gradient(145deg, var(--base2), var(--base1));
  }
}

.el-button__icon {
  font-style: initial;
  font-size: var(--fz-extra-large);
}

.disabled {
  opacity: 0.6;
  background: linear-gradient(145deg, var(--base2), var(--base1));
  cursor: no-drop;
}

.disabled:active {
  background: linear-gradient(145deg, var(--base2), var(--base1));
  box-shadow: 8px 8px 16px var(--base2), -8px -8px 16px var(--base3);
}

/* timer */
.timer {
  position: relative;
}

.timer__buttons {
  display: flex;
  justify-content: center;
}

.timer__display {
  position: relative;
  font-size: 4rem;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}

.timer__inputs-dec {
  font-size: 2rem;
}

.el-select {
  position: relative;
  padding: 0 15px;
}

.el-select__label {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1rem;
}

.el-select__inner {
  display: inline-block;
  background: linear-gradient(145deg, var(--base1), var(--base2));
  box-shadow: inset 6px 6px 16px var(--base2), inset -6px -6px 16px var(--base1);
  border: initial;
  padding: 0;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 15px;
  color: var(--primary-text);
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.el-select option {
  padding: 2px 15px;
}

.el-select option:hover,
.el-select option:focus,
.el-select option:active,
.el-select option:checked {
    background: linear-gradient(#ffd33c,#ffd33c);
    background-color: #ffd33c !important;
}


.el-select__inner::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

.el-select__inner::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.el-select__inner::-webkit-scrollbar-thumb {
  background-color: #000;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid ;  /* creates padding around scroll thumb */
}

@media not all and (pointer: coarse) {
  .el-select__inner:hover {
    box-shadow: inset 8px 8px 16px var(--base2), inset -8px -8px 16px var(--base1);
  }
}
